{% extends "base.html" %}

{% block content %}
<main class="index-main">
    <div class="container">
        <div class="row">
        <div class="col-sm-6">
            <div class="backend-panel index-main-panel">
                <h1 class="index--header">Welcome to the 321 Web Marketing Portal API</h1>
                <p>There's probably nothing here for you to see and you most likely ended up here on accident! If you were attempting to access our portal please navigate here:</p>
                <div class="backend-panel--button-container">
                    <a href="https://beta.321webmarketing.com" class="btn btn-tto btn-lg">Access the 321 Portal</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="backend-panel index-secondary-panel">
                <h3 class="index--header-secondary">321 Web Marketing Website</h3>
                <p>If you were trying to navigate to our website please follow this link:</p>
                <div class="backend-panel--button-container">
                    <a href="https://www.321webmarketing.com" class="btn btn-tto btn-lg">Access 321webmarketing.com</a>
                </div>
            </div>
            <div class="backend-panel index-secondary-panel">
                <h3 class="index--header-secondary">321 Web Marketing Wiki</h3>
                <p>Maybe you were attempting to visit the 321 Web Marketing Wiki site. You can find that here:</p>
                <div class="backend-panel--button-container">
                    <a href="https://www.321webmarketing.com" class="btn btn-tto btn-lg">Access the 321 Web Marketing Wiki</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
{% endblock content %}