{% extends 'base_email_template.html' %}

{% block title %}You have assignments that are due soon{% endblock title %}

{% block body_header %}
{% if count > 1 %}
    You have {{ count }} assignments that are due soon!
{% else %}
    You have {{ count }} assignment that is due soon!
{% endif %}
{% endblock body_header %}

{% block body_content %}
<p>The following assignments are due:</p>

{% comment %} <ul style="padding: 0; list-style-type: none;"> {% endcomment %}
{% for key, value in statuses.items %}
    {% if value %}
    <p><strong>{{ key }}</strong></p>
    <ul style="padding: 0; list-style-type: none;">
        {% for assignment in value %}
            <li>
                <p>{{ assignment.title }}</p>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endfor %}

{% comment %} {% for assignment in assignments %}
    <li>
        <p><strong>[{{ assignment.status.name }}]</strong> {{ assignment.title }}</p>
    </li>
{% endfor %}
</ul> {% endcomment %}

<p>Please log into the portal to view and complete them.</p>
{% endblock body_content %} 

{% block button_link %}{{ hostname }}/content-generation/assignments{% endblock button_link %} 

{% block button_text %}Login and View Here{% endblock button_text %} 