{% extends 'base_email_template.html' %}

{% block title %}New Article to Edit{% endblock title %}

{% block body_header %}A new article is ready to be edited!{% endblock body_header %}

{% block body_content %}
<p>You have a new article to edit titled <strong>{{ article_name }}</strong> for our client <strong>{{ client }}</strong></p>

<p>Please log into the portal to view and begin editing the content.</p>
{% endblock body_content %} 

{% block button_link %}{{ hostname }}/content-generation/assignments{% endblock button_link %} 

{% block button_text %}Login and View Here{% endblock button_text %} 