{% extends 'base_email_template.html' %}

{% block title %}New Article to Write{% endblock title %}

{% block body_header %}A new article is ready to be written!{% endblock body_header %}

{% block body_content %}
<p>You have a new article assigned to you titled <strong>{{ article_name }}</strong> for our client <strong>{{ client }}</strong></p>

<p>Please log into the portal to view and begin writing the content.</p>
{% endblock body_content %} 

{% block button_link %}{{ hostname }}/content-generation/assignments{% endblock button_link %} 

{% block button_text %}Login and View Here{% endblock button_text %} 